<div class="fchat_actions" style="display:none;">
    <form class="new_room_form" method="post">
        <div>
            <input type="text" name="title" />
            <input type="submit" value="<bx_text:_fch_room_add />" name="submit" />
        </div>
        <input type="hidden" name="action" value="add_room" />
    </form>
    <div class="clear"></div>
    <form class="delete_room_form" method="post">
        <input type="submit" value="<bx_text:_fch_room_del />" name="submit" />
        <input type="hidden" name="room_id" value="__room__" />
        <input type="hidden" name="action" value="delete_room" />
    </form>
    <div class="clear"></div>
</div>