<div class="slideout">
    <img class="iopen" src="<bx_image_url:toggle.png />" alt="" />
    <div class="slideout_inner">
        <img class="iclose" src="<bx_image_url:bclose.png />" alt="" />
        <input type="text" class="fchFilter" name="filter" id="filter" placeholder="<bx_text:_fch_filter />" value="<bx_text:_fch_filter />" onclick="if(this.value == '<bx_text:_fch_filter />') this.value='';" onblur="if(this.value.length == 0) this.value='<bx_text:_fch_filter />';">
        <script>
            $('input.fchFilter').keyup(function() {
                var fchFiKe = $(this).val();

                if (fchFiKe) {
                    $('.profiles > div').hide();
                    $('.profiles > div:contains("'+fchFiKe+'")').show();
                } else {
                    $('.profiles > div').show();
                }
            });
        </script>
        <div class="clear_both"></div>
        <br />
        <div class="fch_groups">
            <bx_if:show_onlinefriends>
            <div>
                <h2><bx_text:_fch_online_friends /></h2>
                __online_friends__
            </div>
            <div class="clear_both"></div>
            </bx_if:show_onlinefriends>
            <bx_if:show_online>
            <div>
                <h2><bx_text:_fch_mem_online /></h2>
                __online_members__
            </div>
            <div class="clear_both"></div>
            </bx_if:show_online>
            <bx_if:show_friends>
            <div>
                <h2><bx_text:_fch_friends /></h2>
                __friends__
            </div>
            <div class="clear_both"></div>
            </bx_if:show_friends>
            <bx_if:show_last>
            <div>
                <h2><bx_text:_fch_mem_last /></h2>
                __last_members__
            </div>
            <div class="clear_both"></div>
            </bx_if:show_last>
        </div>
    </div>
</div>

<div class="priv_dock_wrap"></div>
<div class="priv_dock_wrap_sessions"><p><bx_text:_fch_dialogs /></p></div>